<% include header %>

    <div id="topBar">
        <h3 id="titlePP"> Bienvenido <%= user.nickname %> </h3>
        <table id="options" align="right" name="options">
            <tr>
                <th id="btnHome">
                    <a href="profile" class="btn btn-light">
                        <span class="btn btn-light btnProfile">Inicio</span>
                    </a>
                </th>
                <th id="btnRoutes">
                    <a href="routes" class="btn btn-light btnProfile">
                        <span class="btn btn-light">Mis rutas</span>
                    </a>
                </th>
                <th id="btnShareWithMe">
                    <a href="share" class="btn btn-light btnProfile">
                        <span class="btn btn-light">Compartido Conmigo</span>
                    </a>
                </th>
                <th id="btnConfig">
                    <a href="config" class="btn btn-light btnProfile">
                        <span class="btn btn-light">Configuracion</span>
                    </a>
                </th>
                <th id="btnLogout">
                    <a href="logout" class="btn btn-light">
                        <span class="btn btn-light btnProfile">Salir</span>
                    </a>
                </th>
            </tr>
        </table>
    </div>

    <div  id="botBar">
        <h5 id="creado"> Creado por: Juan Pablo Londoño </h5>
        <table id="infoBot">
            <tr>
                <th id="derechos">
                    <h5>Todos los derechos reservados   2018</h5>
                </th>
            </tr>
        </table>
    </div>

<%include footer%>
