<% include header %>

    <div id="topBar">
        <h3 id="titlePP"> Bienvenido <%= user.name %> </h3>
        <table id="options" align="right" name="options">
            <tr>
                <th id="btnHome">
                    <a href="profile" class="btn btn-light">
                        <span class="btn btn-light btnProfile">Inicio</span> 
                    </a>
                </th>
                <th id="btnRoutes">
                    <a href="routes" class="btn btn-light btnProfile">
                        <span class="btn btn-light">Mis rutas</span> 
                    </a>
                </th>
                <th id="btnShareWithMe">
                    <a href="share" class="btn btn-light btnProfile">
                        <span class="btn btn-light">Compartido Conmigo</span> 
                    </a>
                </th>
                <th id="btnConfig">
                    <a href="config" class="btn btn-light btnProfile">
                        <span class="btn btn-light">Configuracion</span> 
                    </a>
                </th>
                <th id="btnLogout">
                    <a href="logout" class="btn btn-light">
                        <span class="btn btn-light btnProfile">Salir</span> 
                    </a>
                </th>
            </tr>
        </table>
    </div>

    <div>
        <div>
            <h1 id="title">Tú Camino</h1>
        </div>
        <div id="map"></div>
    </div>

    <!--<button id="btnSaveRoute" onclick="takeScreenshot()" class="btn btn-light">Guardar Ruta </button>-->
    <p id="demo"></p>
    <div  id="botBar">
        <h5 id="creado"> Creado por: Juan Pablo Londoño </h5>
        <table id="infoBot">
            <tr>
                <th id="derechos">
                    <h5>Todos los derechos reservados   2018</h5>
                </th>
            </tr>
        </table>
    </div>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5Lw093i1GDjUPXg0gn_0Xl7qvgNdOCkA" async="async" defer="defer"></script>

    
    <script>
        //Direcciones

        var directionsDisyplay;
        //var directionsService = new google.maps.DirectionsService();
        var directionsMap;
        var z = document.getElementById("map");
        var start;
        var end = 'eafit';

        function initMap(){
            navigator.geolocation.getCurrentPosition(showPosition);
            function showPosition(position){
                start = end;
                directionsLatitude = position.coords.latitude;
                directionsLongitude = position.coords.longitude;
                myDirectionsLatLng = new google.maps.LatLng(directionsLatitude, directionsLongitude);
                directionsDisyplay = new google.maps.DirectionsRenderer();
                end = new google.maps.LatLng(directionsLatitude, directionsLongitude);
                var mapOptions = {
                    zoom: 10,
                    center: end,
                    title: "estas aca"
                };
                directionsMap = new google.maps.Map(document.getElementById('map'));
                directionsDisyplay.setMap(directionsMap);
                var directionsService = new google.maps.DirectionsService();
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.WALKING
                };
                directionsService.route(request, function (result, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                      directionsDisyplay.setDirections(result);
                    }
                });

            }
        }

        function calcNewPosition(){
            navigator.geolocation.getCurrentPosition(showPosition);
            function showPosition(position){
                start = end;
                directionsLatitude = position.coords.latitude;
                directionsLongitude = position.coords.longitude;
                myDirectionsLatLng = new google.maps.LatLng(directionsLatitude, directionsLongitude);
                directionsDisyplay = new google.maps.DirectionsRenderer();
                end = new google.maps.LatLng(directionsLatitude, directionsLongitude);
                var directionsService = new google.maps.DirectionsService();
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.WALKING
                };
                directionsService.route(request, function (result, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                      directionsDisyplay.setDirections(result);
                    }
                });
            }
        }
        initMap();
        var intervalo = setInterval('calcNewPosition()', 5000); 


    </script>
    

<%include footer%>